body {
    margin: 0 auto;
    background: linear-gradient(0deg, #ffffff 0%, #09ebe8 100%);
}

.navbar {
    background-color: #676767 !important;
    color: #ffffff !important;
}

.navbar-brand {
    background-color: #676767;
    color: #ffffff !important;
    height: 30px;
    line-height: 30px;
    font-size: 28px;
    margin: 0 0;
    padding: 0 0;
}

.nav-item {
    color: #ffffff !important;
}
  
.custom-toggler.navbar-toggler {
    border-color: #ffffff !important;
}

.container {
    width: 100%px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    margin-top: 30px;
}

#about-me-thumbnail {
    float: left;
    margin: 0 10px 0 0;
}

/* #about-me-card {
    padding-top: 60px;
} */

.card-title {
    border-bottom: 3px #cccccc solid;
    line-height:150%;
}

.form {
   margin: auto auto;
   padding: 20px 20px;
}

.form-group {
    margin: auto auto;
    padding-top: 10px;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    width: 100%;
    background-color: #676767 !important;
    color: #ffffff !important;
  }

  footer {
      text-align: center;
  }
   
  .form-group {
    width: 100%;
    margin: 20px auto 10px auto;
  }

  .submit-button {
      width: 100px;
      margin: auto auto;
      padding: 10px 10px;
  }

  .portfolio-buttons {
      margin: auto auto;
      text-align: center;
  }

  .card-img {
      padding: 20px;
  }

  .portfolio {
      width: 100%;
      margin: 20px auto 10px auto;
      padding: 20px ;
  }

